body {
  font-family: sans-serif;
  background-color: rgb(36, 35, 30);
}

form {
  background-color: rgb(246, 245, 201);
  width: 90%;
  max-width: 50rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 6px;
}

form input {
  font: inherit;
  width: 50%;
  padding: 6px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(252, 249, 233);
  color: rgb(53, 51, 39);
  border-radius: 4px;
  margin-right: 1rem;
}

form input:focus {
  background-color: rgb(253, 245, 196);
}

form p {
  display: inline-block;
}

form button {
  font: inherit;
  background-color: rgb(209, 184, 23);
  border: 1px solid rgb(209, 184, 23);
  color: rgb(44, 43, 36);
  display: block;
  margin: 12px 0;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover{
  background-color: rgb(209, 197, 23);
  border-color: rgb(209, 197, 23);
}

input.warning {
  background-color: rgb(248, 191, 145);
}

input:focus.warning {
  background-color: rgb(248, 191, 145);
}

p.warning {
  color: rgb(211, 109, 26);
}

input.error {
  background-color: rgb(248, 157, 145);
}

input:focus.error {
  background-color: rgb(248, 157, 145);
}

p.error {
  color: rgb(211, 109, 26);
}